<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642743458730-r7jqac2f7v65fo6oi2d4h724sl2sp8im.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642743458730-r7jqac2f7v65fo6oi2d4h724sl2sp8im</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>642743458730-3avesjag5rs8fah1bjhq943ljkpjn1f0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBdZvyZd9EG2OytEI6j4sQTgnuwRUNs-jw</string>
	<key>GCM_SENDER_ID</key>
	<string>642743458730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.msg</string>
	<key>PROJECT_ID</key>
	<string>chat-app-91c8b</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-91c8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642743458730:ios:b6a62185bd0b0fba6869d3</string>
</dict>
</plist>